.admin-page {
  //让字体居中
  width: 100%;
  height: 100vh;
  background-color: #03766c;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.info-row {
  font-weight: bold;
  font-size: 16;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000000;
}

.admin-title {
  font-size: 4em;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.admin-footer {
  font-size: 2em;

  text-align: center;
  margin: 0;
  padding: 0;
}

.admin-logout-button {
  background-color: rgba($color: #000000, $alpha: 0.2);
  //加粗字体
  font-weight: bold;
}
.skeleton-flex {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  align-items: center;
}
.lists-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  align-items: center;
}

.list-title {
  text-align: center;
  font-size: 2em;
  color: black;
}
.list-container {
  width: 80%;
  height: 50em;
  background-color: #11ffff;
  border-radius: 10px;
  border: black;
  border-style: solid;
  border-width: 1em;
  margin: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
}
